.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);

  display: flex;
  justify-content: center;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: fit-content;
  gap: 16px;
  width: 240px;
  margin-top: 15%;
  padding: 20px;

  background-color: var(--background);
  color: var(--white);
  border: 2px solid var(--light-1);
}
