body {
  margin: 0;
  background-color: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --background: #303130;
  --dark-1: #3a3a3a;

  --yellow: #efc31d;
  --green: #30ac63;
  --blue: #3081b8;
  --red: #e54d42;
  --purple: #8c48aa;
  --orange: #e37f31;
}
